@import url(http://fonts.googleapis.com/css?family=PT+Sans);
body {
    background-color: #ff99cc;
    width: 100%;
    margin: 0 auto;
}


header {
    background-color:#ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 0 0 10px 0;
    text-align: center;
    
    
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-shadow: 4px 4px 4px #aaa;
    
}

nav li {
    display: inline;
    padding: 8px 5px;
}

li a {
    border: 2px dotted #000000;
    background-color:  #bfff80;
    text-decoration: none; 
    text-align: center;
    padding: 5px; 
    border-radius: 5px;  
}

li a:hover {
    color:  #ff4da6;    
}



section {
    margin: 50px 100px;
    text-align: center;
    background-color:  #e6b3ff;
    border-radius: 10px;
    overflow: hidden;
}

h2 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}


img {
    
    height: auto;
    width: auto;
    
    max-width: 400px;
}

p {
    padding: 5px;
    font-family: Verdana, sans-serif;
    
}

#small-gif {
    height: auto;
    width: 500px;
}

.align-left {
    float: left;
    margin: 10px;
}

.align-right {
    float: right;
    margin: 10px;
}